<!-- pre -->
<%- include('pre') -%>

<!-- custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/archives.css">

<title>HeribertoGM - About</title>
</head>
<body>

<!-- Barra de navegacion -->
<%- include('navbar') -%>

<!-- Dentro -->
<div class="container" id="box">
	<h1 class="display-1 text-muted">Archivos</h1>
	<ul>
		<li><a href="#" class="h3">cv english</a></li>
		<li><a href="#" class="h3">cv español</a></li>
		<li><a href="#" class="h3">etc</a></li>
		<li><a href="#" class="h3">etc2</a></li>
	</ul>
</div>

<!-- footer -->
<%- include('footer') -%>

<!-- post -->
<%- include('post') -%>