<div class="card col mx-2" style="max-width: 18rem;">
	<img src="<%- data[indx].img %>" class="card-img-top" alt="...">
	<div class="card-body">
		<h2 class="card-title text-muted"><%- data[indx].title %></h2>
		<p class="card-text">
			<% for(let i of data[indx].tags){ %>
				<span class="badge <%- i.type %>"><%- i.in %></span> 
			<% } %>
		</p>
		<a href="#" class="btn btn-primary">Go somewhere</a>
	</div>
</div>