<!-- footer -->
<div style="background-color: #393D3F;">
	<hr>
	<footer class="container-fluid d-flex justify-content-center align-items-center" style="height: 10vh;">
		<div>
			<p>Made by: HeribertoGM</p>
			<a href="https://github.com/HeribertoGM/Portfolio">
				<div class="d-flex justify-content-center">
					<img src="/static/images/github.svg" width="30" height="30">
					<p class="text-muted pl-2 pt-1">/Portfolio</p>
				</div>
			</a>	
		</div>
	</footer>
</div>