<!-- pre -->
<%- include('pre') -%>

<!-- custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/proyects.css">

<title>HeribertoGM - Proyects</title>
</head>
<body>

<!-- Barra de navegacion -->
<%- include('navbar') -%>

<!-- Dentro -->
<div class="container" id="box">
	<h1 class="display-1 text-muted">Proyectos</h1>
	<div class="row my-4">
		<div class="card col mx-2" style="width: 18rem; background-color: #343435; padding-top: 5px;">
			<img src="/static/images/fondo1pru.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h2 class="card-title text-muted">Card title</h2>
				<p class="card-text" style="font-size: 150%;"><span class="badge badge-secondary">Secondary</span></p>
				<a href="#" class="btn btn-primary" style="background-color: #265175; border: none;">Go somewhere</a>
			</div>
		</div>
		<div class="card col mx-2" style="width: 18rem; background-color: #343435; padding-top: 5px;">
			<img src="/static/images/fondo1pru.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h2 class="card-title text-muted">Card title</h2>
				<p class="card-text" style="font-size: 150%;"><span class="badge badge-secondary">Secondary</span></p>
				<a href="#" class="btn btn-primary" style="background-color: #265175; border: none;">Go somewhere</a>
			</div>
		</div>
		<div class="card col mx-2" style="width: 18rem; background-color: #343435; padding-top: 5px;">
			<img src="/static/images/fondo1pru.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h2 class="card-title text-muted">Card title</h2>
				<p class="card-text" style="font-size: 150%;"><span class="badge badge-secondary">Secondary</span></p>
				<a href="#" class="btn btn-primary" style="background-color: #265175; border: none;">Go somewhere</a>
			</div>
		</div>
	</div>
	<div class="row my-4">
		<div class="card col mx-2" style="width: 18rem; background-color: #343435; padding-top: 5px;">
			<img src="/static/images/fondo1pru.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h2 class="card-title text-muted">Card title</h2>
				<p class="card-text" style="font-size: 150%;"><span class="badge badge-secondary">Secondary</span></p>
				<a href="#" class="btn btn-primary" style="background-color: #265175; border: none;">Go somewhere</a>
			</div>
		</div>
		<div class="card col mx-2" style="width: 18rem; background-color: #343435; padding-top: 5px;">
			<img src="/static/images/fondo1pru.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h2 class="card-title text-muted">Card title</h2>
				<p class="card-text" style="font-size: 150%;"><span class="badge badge-secondary">Secondary</span></p>
				<a href="#" class="btn btn-primary" style="background-color: #265175; border: none;">Go somewhere</a>
			</div>
		</div>
		<div class="card col mx-2" style="width: 18rem; background-color: #343435; padding-top: 5px;">
			<img src="/static/images/fondo1pru.jpeg" class="card-img-top" alt="...">
			<div class="card-body">
				<h2 class="card-title text-muted">Card title</h2>
				<p class="card-text" style="font-size: 150%;"><span class="badge badge-secondary">Secondary</span></p>
				<a href="#" class="btn btn-primary" style="background-color: #265175; border: none;">Go somewhere</a>
			</div>
		</div>
	</div>
</div>

<!-- footer -->
<%- include('footer') -%>

<!-- post -->
<%- include('post') -%>