<!-- pre -->
<%- include('../general/pre') -%>

<!-- custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/archives.css">

<title>HeribertoGM - Archives</title>
</head>
<body>

<!-- Barra de navegacion -->
<%- include('./navbarEN') -%>

<!-- Dentro -->
<div class="container" id="box">
	<h1 class="text-muted">Archives</h1>
	<ul>
		<li><a href="#" class="h3">cv english</a></li>
		<li><a href="#" class="h3">cv español</a></li>
		<li><a href="#" class="h3">etc</a></li>
		<li><a href="#" class="h3">etc2</a></li>
	</ul>
</div>

<!-- footer -->
<%- include('./footerEN') -%>

<!-- post -->
<%- include('../general/post') -%>