<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
	<!-- Brand/logo -->
	<a class="navbar-brand mr-auto" href="/">HeribertoGM</a>

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	
	<!-- Links -->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item">
				<a class="nav-link" href="/">home</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/about/">about</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/proyects/">proyectos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/archives/">Archivos</a>
			</li>
			<li class="nav-item dropdown">
				<img src="/static/images/earth.png" width="40px" height="40px" class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown">
				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="#"><img src="/static/images/spanish.png" width="25px" height="30px"> Español</a>
					<a class="dropdown-item" href="#"><img src="/static/images/english.png" width="25px" height="30px"> English</a>
					<a class="dropdown-item" href="#"><img src="/static/images/japanese.png" width="25px" height="30px"> 日本語</a>
				</div>
			</li>
		</ul>
	</div>
</nav>