<!-- pre -->
<%- include('../general/pre') -%>

	<title>HeribertoGM - 家</title>
	<style type="text/css">
		body {
			background-color: #265175;
			height: 100vh;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
		}

		.break {
			flex-basis: 100%;
			height: 0;
		}
	</style>
</head>
<body>
	<h1 class="display-1">準備中</h1>
	<div class="break"></div>
	<a href="/">Return</a>

<!-- post -->
<%- include('../general/post') -%>