<!-- pre -->
<%- include('../general/pre') -%>

<!-- custom CSS -->
<link rel="stylesheet" type="text/css" href="/static/css/cv.css">

<title>HeribertoGM - CV</title>
</head>
<body>

<!-- Barra de navegacion -->
<%- include('./navbarES') -%>

<!-- Dentro -->
<div class="container" id="box">
	<h1 class="text-muted">CV</h1>
	<embed src="/static/cv/Resume.pdf" width="100%" height="88%"/>
</div>

<!-- footer -->
<%- include('./footerES') -%>

<!-- post -->
<%- include('../general/post') -%>